h1 {
    text-align:center;
}

h3 {
  
    text-align: center;
}

#dice-para {
    border: 3px solid black;
}
#sum-para {
    border: 3px solid black;
    margin-top: 3%;
}
/* #total-sum{
    text-align: left;
} */

form {
    text-align: center;
}


body p{
    text-align: center;
    margin-top: 1px;
}

body {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgAvoqHc62PQKyIuNC9C32-WMw7o1LBO1SDA&usqp=CAU");
background-size: 100%;
}

div li {
    font-size: large;
}

